/* LANDING PAGE*/

html, body {
	padding: 0;
	height: 100%;
}

body { 
	background: url(../images/216.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: #f37a7d;
	display:inline !important;
	font-size: 250%;
	clear:none;
	margin:0;
	padding:0;
	line-height: 1.7;
	text-align: justify;
  text-justify: inter-word
}

h2 {
	margin: -5px;
	color: black;
	font-weight: 600;
}

h4 {
	display:inline !important;
	color: #efe7d8;
	font-weight: 300;
	font-size: 117%;
	clear:none;
	margin:0;
	padding:0;
	text-align: justify;
  text-justify: inter-word
}

h5 {
	display:inline !important;
	font-weight: 600;
	font-size: 115%;
	clear:none;
	color:inherit;
	margin:0;
	padding:0;
}

.container {
  padding-top: 70px;  
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.nav-brand:before {
	vertical-align: -webkit-baseline-middle;
}

#frontpage-login {
  margin: 0px;
  border-radius: 4px;
  padding: 20px;
  background-color: black;
  border: 0.5px solid grey;
  opacity: 0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  margin-bottom: 10px;
  padding-bottom: 65px;
}

.col-xs-8 {
	padding-left: 0px;
}

.checkbox {
	font-size: 13px;
}

#frontpage-sign-up {
  margin: 0px;
  border-radius: 4px;
  padding: 40px;
  background-color: black;
  border: 0.5px solid grey;
  opacity: 0.8;
  padding-bottom: 65px;
}

.btn-default {
  background-color: #f37a7d;
  color: #000;
  font-weight: 600;
  border-color: #f37a7d;
}

#password_signin {
	width: 246px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 20px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #f37a7d; 
}
