body {
  margin: 0 auto;
  width: 90%;
  background: url(http://) no-repeat fixed bottom right;
  height: 100%;
}

body { 
  background: url(../images/219.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

html {
  height: 100%;
}

.nav-tabs {
/*  background-color: #f37a7d;
  color: f9f7f1;*/
  font-weight: 600;
}

.deleteButton {
  align-items: right;
}

#log-out {
  float: right;
  vertical-align: -webkit-baseline-middle;
}

h2 {
  margin: -5px;
  color: #f37a7d;
  font-weight: 600;
}

.btn-coral {
  background-color: #f37a7d;
  color: #000;
  font-weight: 600;
  border-color: #f37a7d;
  margin-top: 7px;
}

.btn-default {
  background-color: #f37a7d;
  color: #000;
  font-weight: 600;
  border-color: #f37a7d;
  float: right;
}

.addButton {
  margin-left: 100px;
}

.nav-brand:before {
  vertical-align: -webkit-baseline-middle;
}

.container-fluid {
  margin: 0px -68px 0px -65px;
  background-color: black;
  border: 0.5px solid grey;
  opacity: 0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 8px;
}

table {
  border-collapse: collapse;
}

th {
  colspan: 2;
  color: black;
  font-weight: 600;
}

tr {
  padding: 5px;
}